@page
@model IndexModel
@{
    ViewData["Title"] = "BlazingSound";
}
<div class="container">

<div class='head'>
<img class='logo' src="https://firebasestorage.googleapis.com/v0/b/blazingsound-32357.appspot.com/o/BlazingSound.png?alt=media&token=390d8aac-9aea-4853-a70c-06685c001bb9" alt="logo" />
<h1 class='heading'>BlazingSound</h1>
</div>
      <header>
        <figure class='song_box'>
          <img id="song_img" src="https://upload.wikimedia.org/wikipedia/en/c/c1/The_Weeknd_-_After_Hours.png" alt="" />
          <figcaption id="song_name">After Hours</figcaption>
        </figure>
      </header>

      <div class="seekBar">
        <input type="range" name="" id="seekBar" value="0" min="0" />
      </div>

      <section>
        <div id="icons">
          <i onclick="masterPrev()" class="fa-solid fa-backward"></i>
          <i onclick="masterPlay()" id="play" class="fa-solid fa-play"></i>
          <i onclick="masterNext()" class="fa-solid fa-forward"></i>
        </div>
      </section>
    </div>

