@page
@model IndexModel
@{
    ViewData["Title"] = "BlazingSound";
}
<div class='head'>
<h1 class='heading'>BlazingSound</h1>
</div>
<div class="container">
      <header>
        <figure class='song_box'>
          <img id="song_img" src="https://upload.wikimedia.org/wikipedia/en/c/c1/The_Weeknd_-_After_Hours.png" alt="" />
          <figcaption id="song_name">After Hours</figcaption>
        </figure>
      </header>

      <div class="seekBar">
        <input type="range" name="" id="seekBar" value="0" />
      </div>

      <section>
        <div id="icons">
          <i onclick="masterPrev()" class="fa-solid fa-backward"></i>
          <i onclick="masterPlay()" id="play" class="fa-solid fa-play"></i>
          <i onclick="masterNext()" class="fa-solid fa-forward"></i>
        </div>
      </section>
    </div>

